@import "mixins";
@import "vars";
@import "typography";

*{
  margin:0;
  padding:0;
}


body {
  opacity: 0;
  &.loaded {
    opacity:1;
    transition:opacity 0.5s ease;
  }
}

ul,li {
  list-style:none;
}

img {
  max-width: 100%;
}
#APP-BOX {
  overflow: hidden;
}

#title {
  position:absolute;
  z-index: 1000;
}

#APP {
  height:calc(100% - #{$paddingDouble});
  width:calc(100% - #{$paddingDouble});
  background:$black;
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  overflow:hidden;

  // ensure main page sits above gl context.
  div:nth-child(1){
    position: relative;
    z-index: 2;
  }


}


// ==================== HEADER ====================== //
header {
  .char {
    transition:width 0.5s ease;
    position: absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
  }
  .title {
    position: relative;
    display: inline-block;
    width:10px;
    height:10px;
  }
}


// ================= GLOBAL ======================= //
.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}
.horizontal-padding {
  padding-left:$padding;
  padding-right:$padding;
}
.vertical-padding{
  padding-top:$padding;
  padding-bottom:$padding;
}

canvas,iframe {
  position: absolute;
  top:0;
  left:0;
  border:none;
}

// ================= PROJECT INTROS ======================= //

// panel to show loader + hide content until we're ready
#load-panel {
  width:100vw;
  height:100vh;
  background:white;
  transition:all 1.3s ease;
  bottom:0;
  &.on-load {
    transition:all 1.3s ease;
    bottom:100vw;
  }
}

#home-content {
  position:absolute;
  top:0;
  z-index: 2;
  height:calc(100%);

  // element that holds project title in place.
  #project-title{
    font-size:40px;
    padding-left:$paddingDouble;
    position:relative;
    top:50%;
  }
  #home-content-wrap {
    width:100%;
    height: 100%;

    transform:translateY(0);
    h3 {
      position: relative;
      top: 50%;
      left: $padding;
      font-size: 100px;
      transform: translateY(-50%);
      text-align: center;
      /*
       position: relative;
      top:50%;
      left:$padding;
      font-size:100px;
      transform: translateY(-50%);
      text-align:center;
       */

      span {
        position: relative;
        top:0;
        transition:all 0.8s ease;
      }

      // for randomly hiding characters
      span.hide-up {
        top:-120px;
      }

      span.hide-down {
        top:120px;
      }
    }
  }

  .project-title-section h3{
    overflow:hidden;
  }
}

.home-title {
  &:hover {
    cursor: pointer;
  }
}

// ============= PROJECT ======================== //
#project {
  height:100vh;
  width:100vw;
  position: absolute;
  top:0;
  left:0;
  z-index: 3;
}

.project-title-section {

}

// main container for project viewer.
#project-viewer {
  width:calc(100%);
  background:red;
  position: absolute;
  left:50%;
  bottom:0;
  height:0;
  transform: translateX(-50%);
  overflow:hidden;
  z-index: 3;

  // style for when showing the viewer.
  &.show-viewer{
    height:calc(100%);
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
  }
}

#project-viewer {
  overflow-y:scroll;
  .media {
    position:absolute;
    top:0;
    z-index: -1;
  }
}

@import "nav";
@import "typography";