$menuZIndex:99;

#menu {
  position:absolute;
  top:0;
  left:0;
  z-index: 1;

  &.open {
    z-index: 49;
  }

  #menu-button {
    position:relative;
    padding:$padding;
    z-index: 40;
  }

  #nav-columns {
    position:absolute;
    top:0;
    z-index: -1;
  }

  .menu-column {
    opacity: 0;
   // background:blue;
    position:absolute;
    top:0;
    left:0;
    width:0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.58,0.3,0.37,0.87);
    -moz-transition: all 0.5s cubic-bezier(0.58,0.3,0.37,0.87);

    &.open{
      opacity:1;
      width:100%;
    }
  }

}

.links {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:40px;
  padding-left:$padding;
  opacity:0;

  &.open {
    opacity:1;
    transition:opacity 0.5s ease-in;
  }
  a {
    color:rgba(255,255,255,0.5);
    transition:opacity 0.5s ease-in;
    &:hover{
      color:rgba(30,30,30,1);
    }
  }
}

