body {
  font-size: 100%;
  color:white;
  font-family: "proxima-soft",sans-serif;
}


#project-title {
  span {
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color:#333;
}

h1,h2,h3 {
  font-family: "fieldwork", sans-serif;
  @include disable_select;
}

header {
  @include disable_select;
  padding: $padding;

  h1 {
    font-size:20px;
    letter-spacing: 1px;
  }

  .char {
    font-size:18px;
  }

}

.links {
  li {
    a{
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1.2px;
      user-select: none;


    }

    &:hover {
      a{
        color:rgb(100,100,100);
        transition:color 0.5s ease;
      }
    }
  }
}
